.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .bottom-wrapper {
  position: relative;
  height: 800px;
  width: 300px;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}
.bottom-wrapper img {
  position: absolute;
  bottom: 0;
} */

.card {
  border-radius: 5px;
}